header(class="flex items-center border shadow py-2 md:py-0 p-4 md:p-0")
        div(class="px-14 w-80 hidden md:flex justify-center items-center gap-2")
            img(src="/images/logo.webp", alt="logo" class="w-16")
            p(class="font-extrabold text-2xl") TMC

        div(class="flex items-center justify-between flex-1")
            h3(class="text-gray-700 font-extrabold") Manage
                span(class="px-3") > 
                span(class="font-bold text-blue-700") Manage Outputs

            a(class="block md:hidden mr-0 md:mr-5 p-3 shadow border rounded-full" href="#" id="btnMenu") 
                svg(class="w-6 h-6" xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                  path(stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5')
